# System files
*~

# All dotfiles
.*

# Don't ignore
## Samples
!.env.example

## Code style
!.editorconfig
!.pre-commit-config.yaml

## VSC
!.gitattributes
!.gitignore
!.gitkeep

## CI/CD
!.dockerignore

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/

# mypy
dmypy.json

